[project]
	description = A Golang interpreter, built upon golang.org/x/tools/go/ssa/interp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sebastien Binet (sbinet)
[access "refs/for/refs/*"]
	read = group user/Sebastien Binet (sbinet)
	push = group user/Sebastien Binet (sbinet)
	label-Code-Review = -2..+2 group user/Sebastien Binet (sbinet)
	label-Verified = -1..+1 group user/Sebastien Binet (sbinet)
	rebase = group user/Sebastien Binet (sbinet)
	removeReviewer = group user/Sebastien Binet (sbinet)
	submit = group user/Sebastien Binet (sbinet)
[access "refs/heads/*"]
	read = group user/Sebastien Binet (sbinet)
	create = group user/Sebastien Binet (sbinet)
	push = +force group user/Sebastien Binet (sbinet)
	pushMerge = group user/Sebastien Binet (sbinet)
[access "refs/tags/*"]
	push = group user/Sebastien Binet (sbinet)
	push = +force group user/Sebastien Binet (sbinet)
